.login-container{
    margin-top: 100px;
    margin-bottom: 100px;
    width: 60%;
}

/* Media query per breakpoint md (992px) */
@media (min-width: 992px) {
    .login-container{
        margin-top: 150px;
        margin-bottom: 150px;
    }
}

.card-header {
    background-color: #121212;
    
}