<h1 class = "text-center mt-5"> BENVENUTO SU BIKEVILLE </h1>
<br>
<div class="container">
    <div class = "row gx-1">
        <div class = "col-6 topleft">
            <a class="nav-link" routerLink="/bikes">
                <img src="assets/Biciclette.jpg" class="img-fluid zoom" alt="Responsive image">
                <p class = "centered1"> Bicycles </p>
            </a>
        </div>
        <div class = "col-6 topright">
            <a routerLink="/components">
                <img src="assets/Componenti.jpg" class="img-fluid zoom" alt="Responsive image">
                <p class = "centered2"> Components </p>
            </a>
        </div>
    </div>
    <div class = "row gx-1">
        <div class = "col-6 bottomleft">
            <a routerLink="/clothing">
                <img src="assets/Clothing.jpg" class="img-fluid zoom" alt="Responsive image">
                <p class = "centered3"> Clothing </p>
            </a>
        </div>
        <div class = "col-6 bottomright">
            <a routerLink="/accessories">
                <img src="assets/Accessories.png" class="img-fluid zoom" alt="Responsive image">
                <p class = "centered4"> Accessories </p>
            </a>
        </div>
    </div>
</div>