
  <!-- Carosello -->
<div id="mainCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img id = "carouselimage1" src="assets/Tricks Crop 1500.jpg" class="d-block w-100 img-carousell" alt="Carousel Image">
        </div>
        <div class="carousel-item">
           <img id = "carouselimage3" src="assets/Dirtbike Crop 1500.jpg" class="d-block w-100 img-carousell" alt="Carousel Image">
        </div>
        <div class="carousel-item">
            <img id = "carouselimage4" src="assets/offroad biker Crop 1500.jpg" class="d-block w-100 img-carousell" alt="Carousel Image">
        </div>
        <div class="carousel-item">
            <img id = "carouselimage5" src="assets/MountainBikes Crop 1500.jpg" class="d-block w-100 img-carousell" alt="Carousel Image">
        </div>
        <div class="carousel-item">
            <img id = "carouselimage6" src="assets/bike-clothes Crop 1500.jpg" class="d-block w-100 img-carousell" alt="Carousel Image">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#mainCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#mainCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div> 

<!-- Contenitore alert -->
<div class="w-70 mt-4 me-5 ms-5 d-flex justify-content-center">
    <!-- Componente alert -->
     <div *ngIf="showAlert" class="w-50">
         <app-alert class="w-100"
         (close)="showAlert=false">
         </app-alert>
     </div>
 </div>


<!-- Scritta homepage -->
<div class="d-flex justify-content-center align-items-center p-5">
    <div class="w-75 text-center">
        <h3 class="text-white">Find everything you need for your two-wheeled adventure! Choose from bikes, components, clothing and accessories designed for every cyclist.</h3>
    </div>
</div>

<!-- Contenitore principale -->
<div class="container">
    <div class="row gx-1">
        <div class="col-12 col-md-6 topleft">
            <a (click)="setActiveIndexByName('Bikes')" routerLink="/Bikes" class="image-container">
                <img src="assets/Biciclette.jpg" class="img-fluid zoom img-category" alt="Responsive image">
                <div class="image-text"> Bicycles </div>
            </a>
        </div>
        <div class="col-12 col-md-6 topright">
            <a (click)="setActiveIndexByName('Components')" routerLink="/Components" class="image-container">
                <img src="assets/Componenti.jpg" class="img-fluid zoom img-category" alt="Responsive image">
                <div class="image-text"> Components </div>
            </a>
        </div>
    </div>
    <div class="row gx-1">
        <div class="col-12 col-md-6 bottomleft">
            <a (click)="setActiveIndexByName('Clothing')" routerLink="/Clothing" class="image-container">
                <img src="assets/Clothing.jpg" class="img-fluid zoom img-category" alt="Responsive image">
                <div class="image-text"> Clothing </div>
            </a>
        </div>
        <div class="col-12 col-md-6 bottomright">
            <a (click)="setActiveIndexByName('Accessories')" routerLink="/Accessories" class="image-container">
                <img src="assets/Accessories.png" class="img-fluid zoom img-category" alt="Responsive image">
                <div class="image-text"> Accessories </div>
            </a>
        </div>
    </div>
</div>