.pagination .page-link{
    color:white;
    background-color: black;
    border-color: #00ff00;
}
  
  .pagination .page-item.active .page-link {
    background-color: #00ff00; 
    border-color: #00ff00;     
    color: black;             
}
  
  .pagination .page-item.disabled .page-link {
    color: white;
    background-color: black;
    border-color: black;
  }

  .pagination .page-item .page-link:focus {
    outline: none;
    border-color: black;
    box-shadow: 0 0 5px 2px #00ff00;
  }

  .pagination .page-item .page-link:active {
    background-color: #00ff00;
    border-color: #00ff00;
    box-shadow: 0 0 5px 2px black;
  }

