<section id="clothing" class="mt-4">
    <!-- Container principale -->
    <div class="main-container align-items-center d-flex flex-column
     flex-md-row md align-items-md-start p-3 md-align-items-normal">
        
        <!--Componente Sidebar --> <!--#Visibile solo da 768px in su-->
        <app-sidebar class="side-bar d-none d-md-block"
            [title]="'Clothing'"
            [types]="dressTypes"
            [colors]="dressColors"
            [sizes]="dressSizes"
            [prices]="dressPrices"
            [parentCategoryId]="parentCategoryId"
            [activeFilter]="activeFilter"
            (filterChange)="onFilterChange($event.event, $event.filterType)"
            (removeFilter)="removeFilter($event)">
        </app-sidebar>

        <!-- Contenitore lista prodotti e filtri mobile -->
        <div class="list-wrapper ms-md-5">
            <!--Componente MobileFilter --><!--#Visibile da768px in giu-->
            <app-mobile-filter
                [title]="'Clothing'"
                [types]="dressTypes"
                [colors]="dressColors"
                [sizes]="dressSizes"
                [prices]="dressPrices"
                [parentCategoryId]="parentCategoryId"
                [activeFilter]="activeFilter"
                (filterChange)="onFilterChange($event.event, $event.filterType)"
                (removeFilter)="removeFilter($event)">
            ></app-mobile-filter>

            <!-- Paginazione superiore-->
            <app-pagination 
                [hidden]="!clothes.length"
                [products]="clothes"
                (getPaginatedProducts)="onChildNotify($event)">
            </app-pagination>

            <!-- Lista prodotti -->
            <div class="product-list d-flex flex-wrap gap-3">
                 <!-- Itero il componente card sui prodotti paginati -->
                 <div *ngFor="let dress of paginatedProducts" class="example-card col-12 col-sm-6 col-md-4 col-lg-3 mb-4 d-flex">
                    <!-- Card --> <!--#Questa è la card-->
                    <app-card class="w-100 h-100"
                       [product]="dress"
                       (click)="viewProduct(dress)">
                   </app-card>
                </div>
                <!-- Scritta quando non ci sono risultati -->
                <div *ngIf="!clothes.length" class="w-100 pt-sm-5 pt-md-0">
                    <div class="alert alert-info" role="alert">
                        <i class="fa-solid fa-circle-exclamation me-1"></i>
                        There are no results related to the filters!
                      </div>
                </div>
            </div>

            <!-- Paginazione superiore-->
            <app-pagination 
                [hidden]="!clothes.length"
                [products]="clothes"
                (getPaginatedProducts)="onChildNotify($event)">
            </app-pagination>


        </div>
    </div>
</section>

<div class="modal fade" id="viewProduct" tabindex="-1">
  <div class="modal-dialog modal-xl">
    <div class="modal-content bg-dark text-light p-4">
      <div class="modal-header text-center">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p id  = "productData"></p>
        <button *ngIf="auth.GetLoginInfo()" type = "button" class = "btn addToCart" (click)="this.addToCart(this.selectedProduct)">
          <i class="fa-solid fa-cart-shopping">  Add To Cart</i>
        </button>
      </div>
    </div>
  </div>
</div>