<footer class="bg-primary text-white text-center text-lg-start">
  <!-- Grid container -->
  <div class="container p-4">
    <!-- Grid row -->
    <div class="row">
      <!-- Column 1: Brand Description -->
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase">BikeVille</h5>
        <p>
          Discover the freedom on two wheels with our high-quality bicycles.
          We design and sell models for every need, from urban cyclists to mountain adventurers. 
          Join our passion for cycling and start your journey today!
        </p>
      </div>

      <!-- Column 2: Links Section -->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase">OUR COMPANY</h5>
        <ul class="list-unstyled mb-0">
          <li>
            <i class="fa-solid fa-map-location-dot"></i>
            <span class="text-white"> Via Poggio Laurentino,66</span>
          </li>
          <li>
            <i class="fa-solid fa-phone"></i>
            <span class="text-white"> +39 3275691742</span>
          </li>
          <li>
            <i class="fa-solid fa-envelope"></i>
            <span class="text-white">  bykeville&#64;gmail.com</span>
          </li>
        </ul>
      </div>

      <!-- Column 3: Social Media Links (Right Aligned) -->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0 ml-auto">
        <h5 class="text-uppercase seguici" >FOLLOW US</h5>
        <section class="mb-5">
          <!-- Facebook -->
          <a class="btn text-white btn-floating m-1" style="background-color: #3b5998;" href="#!" role="button">
            <i class="fa-brands fa-facebook"></i>
          </a>

          <!-- Twitter -->
          <a class="btn text-white btn-floating m-1" style="background-color: #55acee;" href="#!" role="button">
            <i class="fab fa-twitter"></i>
          </a>

          <!-- Instagram -->
          <a class="btn text-white btn-floating m-1" style="background-color: #ac2bac;" href="#!" role="button">
            <i class="fab fa-instagram"></i>
          </a>
        </section>
      </div>
    </div>
    <!-- End Grid row -->
     
  </div>
  <!-- End Grid container -->

  <!-- Copyright Section -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2024 BikeVille. All rights reserved:
    <a class="text-white" href="https://example.com/">BikeVille.com</a>
  </div>
  <!-- End Copyright Section -->
</footer>
