#navbar a{
    color: #f0f0f0;
    cursor: pointer;
}

.navigation-container{
  flex: 1;
}

#logoapp {
  width: 100px;
  height: 60px;
}

.pippo{
  display: inline-block;
}

.header-filters {
  width: 100%;
  z-index: 0;
  overflow: visible;
}

.filters-container{
  padding-right: 150px;
}

.filter-container {
  position: relative;
  display: inline-block;
  z-index: 1; 
}

.filter-container::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 23px;
  background-color: #00ff00;
  transition: width 0.5s ease;
  z-index: 1; 
}

.filter-container:hover::before {
  width: 100%; 
}

.filter-container a {
  position: relative;
  text-decoration: none;
  color: #f0f0f0; 
  font-size: 18px;
  cursor: pointer;
  z-index: 2; 
  transition: color 0.5s ease;
  padding: 5px;
}

.filter-container a:hover {
  color: black !important; 
  z-index: 3; 
}

.li-spacing .filter-container a.active {
  color: black !important; 
  z-index: 3; /
}

.filter-container a.active + ::before {
  width: 100%; 
}

/* Per il contenitore attivo */
.filter-container.active::before {
    width: 100%; 
    background-color: #00ff00;
    border-radius: 10px;
    z-index: 1;
}

/* Per il link attivo */
.filter-container a.active {
    color: black; 
    z-index: 3; 
}

.li-spacing{
  margin-right: 20px; 
  margin-bottom: 10px; 
}

/*# Media Query */
/* Media query per breakpoint md (768px) */
@media (min-width: 768px) {
  #logoapp {
    width: 130px;
    height: 70px;
  }
}
 
/* Media query per breakpoint md (992px) */
@media (min-width: 992px) {
  #logoapp {
    width: 180px;
    height: 100px;
  }
}