<nav class="navbar navbar-expand-lg" id="navbar">
    <div class="container-fluid ms-5 me-5">
      <a class="navbar-brand" routerLink="home">
        <img src = "assets/logo app.ico" width="60" height="30" alt="">
        BikeVille
      </a>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
          <li *ngIf="isAdmin()" class="nav-item">
            <a class="nav-link"  routerLink="adminhub"> Admin Hub </a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" *ngIf="!auth.GetLoginInfo()"  routerLink="register"> Register </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" *ngIf="!auth.GetLoginInfo()"  routerLink="login"> Login </a>
          </li>
          <li class="nav-item">
            <a *ngIf="auth.GetLoginInfo()" class="nav-link"  routerLink="logout">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- Filtri per Categoria Prodotto -->
  <nav *ngIf="showFilters" class="header-filters d-flex justify-content-center">
    <div class="d-flex align-items-center m-2">
      <ul class="d-flex  gap-3 gap-sm-4 gap-md-5 list-unstyled m-0 justify-content-center flex-wrap">
        <li *ngFor="let category of categoriesArray; let i = index">
          <a (click)="setActiveIndex(i)" routerLink="/{{category.Name}}" [ngClass]="{'active':isActive(i)}" class="text-decoration-none text-dark">{{category.Name}}</a>
        </li>
      </ul>
    </div>
  </nav>
  <!-- Discussione -->
      <!--! Nella show del prodotto perchè  non  si vede la foto?-->
      <!-- Cose da fare -->
      <!--! Sistemare il form register è disallineato e magari mettere un effetto sul bottone anche al login-->