<nav class="navbar navbar-expand-lg" id="navbar">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="home">
        <img id = "logoapp" src = "assets/App Logo Test 2.png" class = "ms-0" alt="">
      </a>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
          <li *ngIf="isAdmin()" class="nav-item">
            <a class="nav-link"  routerLink="adminhub"> Admin Hub </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" *ngIf="!auth.GetLoginInfo()"  routerLink="register"> Register </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" *ngIf="!auth.GetLoginInfo()"  routerLink="login"> Login </a>
          </li>
          <li class="nav-item">
            <a  
            type="button" data-bs-toggle="modal" data-bs-target="#exampleModal"
            *ngIf="auth.GetLoginInfo()"
             class="nav-link"  
             >Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
   <!-- Discussione -->
  <!--! Nella show del prodotto perchè  non  si vede la foto?-->
  <!-- Cose da fare -->
  <!--! Sistemare il form register è disallineato e magari mettere un effetto sul bottone anche al login-->
  <!--! validazione login  -->
  
  <!-- Filtri per Categoria Prodotto -->
  <nav *ngIf="showFilters" class="header-filters d-flex justify-content-center">
    <div class="d-flex align-items-center m-2">
      <ul class="d-flex  gap-3 gap-sm-4 gap-md-5 list-unstyled m-0 justify-content-center flex-wrap">
        <li *ngFor="let category of categoriesArray; let i = index">
          <div class="filter-container" [ngClass]="{'active': isActive(i)}">
            <a id="filters" (click)="setActiveIndex(i)" routerLink="/{{category.Name}}" [ngClass]="{'active':isActive(i)}" class="text-decoration-none"> {{category.Name}} </a>
        </div>
        </li>
      </ul>
    </div>
  </nav>

  <!-- Logout Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Si desidera procedere con il Logout?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="RunLogout()">Si</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" aria-label="Close">No</button>
      </div>
    </div>
  </div>
</div>



 