<div class="container">
    <div class = "row gx-1">
        <div class = "col-6 topleft">
            <a routerLink="/admincustomers" class = "image-container">
                <img src="assets\Utenti.png" class="img-fluid zoom" alt="Responsive image">
                <div class = "image-text"> Customers </div>
            </a>
        </div>
        <div class = "col-6 topright">
            <a routerLink="/adminproducts" class = "image-container">
                <img src="assets\Bicicletta.png" class="img-fluid zoom" alt="Responsive image">
                <div class = "image-text"> Products </div>
            </a>
        </div>
    </div>
</div>