header {
    background-color: #121212;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main{
    height: 100%;
    flex: 1;
    /* background-image: url("/assets/main-bg.webp"); */
    background-color: black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

footer{
    flex-shrink: 0;
}


