.main-container{
    width: 100%;
    height: 100%;
    margin-bottom: 50px;
}
.product-list{
    flex:1;
}
.example-card{
    width: calc(100%);
}

.list-wrapper{
    width: 70%;
    padding-left: 20px;
    padding-right: 20px;
}


/*# Media Query */
/* Media query per breakpoint md (768px) */
@media (min-width: 768px) {
    .example-card {
        width: calc(100% / 2 - 8px);
    }
    .list-wrapper{
        padding-left: 36px;
        width: 100%;
    }
}

/* Media query per breakpoint md (992px) */
@media (min-width: 992px) {
    .example-card {
        width: calc(100% / 3 - 10.67px);
    }
}

/* Media query per breakpoint md (1200px) */
@media (min-width: 1200px) {
    .example-card {
        width: calc(100% / 4 - 12px);
    }
}

#viewProduct {
    background-color: rgba(0,0,0,0.6);
}

.addToCart {
    position: relative;
    float: right;
  }

  .btn {
    background-color: #00ff00;
    border-color: black;
}