
body{
    display: flex;
    flex-direction: column;
}

app-root {
    flex:1;
    height: 100vh;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Fa in modo che occupi l'intera altezza del viewport */
}