<!-- Modale dettaglio del prodotto -->
<div class="modal fade" id="viewProduct" tabindex="-1">
    <div class="h-100">
      <div class="modal-dialog modal-dialog-centered
        d-flex justify-content-center">
        <div class="modal-content bg-dark text-light p-4">
          <div class="modal-header border-0 text-center">
            <button type="button" class="btn-close bg-x" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <!-- Qui viene aggiunto template html per il dettaglio del prodotto -->
            <p id="productData"></p>
            <div class="d-flex flex-row justify-content-end">
              <p id="productAdded" [class.fade]="isProductAdded"> Product Added to Cart! </p>
              <button *ngIf="auth.GetLoginInfo()" id="addcart" type="button" class="btn addToCart"
                (click)="this.addToCart(this.selectedProduct)">
                <i class="fa-solid fa-cart-shopping"> Add To Cart</i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
