<div *ngIf="!isLoading" class="container d-flex flex-column align-items-center">
  <h2 id="title" class="text-center text-white mt-3 mb-3">ADMIN PRODUCTS</h2>

  <div *ngIf="showAlert" class="w-70 mt-5 me-5 ms-5">
    <!-- Componente alert -->
    <app-alert>
    </app-alert>
  </div>

  <!-- bottone per aggiungere un prodotto -->
  <button type="button" class="btn btn-success addbutton" data-bs-toggle="modal" data-bs-target="#addModal">
    <i class="fa-solid fa-plus"></i>
  </button>
  <!-- navigazione superiore -->
  <app-pagination 
    [hidden]="!products.length"
    [entities]="products"
    (getPaginatedEntities)="onChildNotify($event)">
  </app-pagination>    

  <!-- tabella dei prodotti -->
  <table class="table table-bordered table-striped main-table">
    <thead>
      <tr>
        <th scope="col" class="p-2" id="id">Id</th>
        <th scope="col" class="p-2" id="name">Name</th>
        <th scope="col" class="p-2 d-md-table-cell" id="pnumber">ProdNumber</th>
        <th scope="col" class="p-2 d-none d-lg-table-cell" id="color">Color</th>
        <th scope="col" class="p-2" id="cost">Cost</th>
        <th scope="col" class="p-2 d-none d-md-table-cell" id="price">ListPrice</th>
        <th scope="col" class="p-2 d-none d-xl-table-cell" id="secondary">Size</th>
        <th scope="col" class="p-2 d-none d-xl-table-cell" id="secondary">Weight</th>
        <th scope="col" class="p-2 d-none d-lg-table-cell" id="secondary">CategoryId</th>
        <th scope="col" class="p-2 d-none d-lg-table-cell" id="secondary">ModelId</th>
        <th scope="col" class="p-2" id="icons"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of paginatedProducts">
        <td class="p-2" id="id">{{ product.productId }}</td>
        <td class="p-2" id="name">{{ product.name }}</td>
        <td class="p-2 d-md-table-cell" id="pnumber">{{ product.productNumber }}</td>
        <td class="p-2 d-none d-lg-table-cell" id="color">{{ product.color }}</td>
        <td class="p-2" id="cost">{{ product.standardCost }}</td>
        <td class="p-2 d-none d-md-table-cell" id="price">{{ product.listPrice }}</td>
        <td class="p-2 d-none d-xl-table-cell" id="secondary">{{ product.size }}</td>
        <td class="p-2 d-none d-xl-table-cell" id="secondary">{{ product.weight }}</td>
        <td class="p-2 d-none d-lg-table-cell" id="secondary">{{ product.productCategoryId }}</td>
        <td class="p-2 d-none d-lg-table-cell" id="secondary">{{ product.productModelId }}</td>
        <td class="p-2 d-flex flex-column align-items-center gap-2" id="icons">
          <!-- Dettaglio prodotto -->
          <button type="button" class="btn btn-primary iconbutton mt-2" (click)="viewProduct(product)">
            <i class="fa-solid fa-eye"></i>
          </button>
          <!-- Modifica prodotto -->
          <button type="button" class="btn btn-warning iconbutton" (click)="editProduct(product)">
            <i class="fa-solid fa-edit"></i>
          </button>
          <!-- Eliminazione prodotto -->
          <button type="button" class="btn btn-danger iconbutton mb-2" data-bs-toggle="modal"
            (click)="setProductToDelete(product.productId)">
            <i class="fa-solid fa-trash"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <br>

  <!-- navigazione inferiore -->
  <app-pagination 
    [hidden]="!products.length"
    [entities]="products"
    (getPaginatedEntities)="onChildNotify($event)">
  </app-pagination>    

</div>

<!-- modale per visualizzare prodotto -->
<div class="modal fade" id="viewModal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel"
  aria-hidden="true" #viewModal>
  <div class="modal-dialog modal-dialog-centered 
    d-flex justify-content-center" role="document">
    <div class="modal-content bg-dark text-light">
      <div class="modal-header">
        <h5 class="modal-title" id="ModalLabel">Prodotto</h5>
        <button type="button" class="btn-close bg-x" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p id="productData"></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Chiudi</button>
      </div>
    </div>
  </div>
</div>

<!-- modale per modificare prodotto -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true"
  #editModal>
  <div class="modal-dialog modal-dialog-centered
    d-flex justify-content-center" role="document">
    <div class="modal-content bg-dark text-light">
      <div class="modal-header">
        <h5 class="modal-title" id="ModalLabel">Modifica Prodotto</h5>
        <button type="button" id="closeModalButton" class="btn-close bg-x" data-bs-dismiss="modal"
          aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="editForm">
          <div class="row g-2">
            <div class="mb-3">
              <label for="editname" class="form-label">Name</label>
              <input type="text" id="editname" class="form-control w-100" placeholder="Insert Name">
            </div>
          </div>
          <div class="row g-2">
            <div class="col mb-3">
              <label for="editproductNumber" class="form-label">Product Number</label>
              <input type="text" id="editproductNumber" class="form-control w-100" placeholder="Insert Product Number">
            </div>
            <div class="col mb-3">
              <label for="editcolor" class="form-label">Color</label>
              <input type="text" id="editcolor" class="form-control w-100" placeholder="Insert Color">
            </div>
          </div>
          <div class="row g-2">
            <div class="col mb-3">
              <label for="editcost" class="form-label">StandardCost</label>
              <input type="number" id="editcost" class="form-control w-100" placeholder="Insert Standard Cost">
            </div>
            <div class="col mb-3">
              <label for="editlistPrice" class="form-label">ListPrice</label>
              <input type="number" id="editlistPrice" class="form-control w-100" placeholder="Insert List Price">
            </div>
          </div>
          <div class="row g-2">
            <div class="col mb-3">
              <label for="editsize" class="form-label">Size</label>
              <input type="text" id="editsize" class="form-control w-100" placeholder="Insert Size">
            </div>
            <div class="col mb-3">
              <label for="editweight" class="form-label">Weight</label>
              <input type="number" id="editweight" class="form-control w-100" placeholder="Insert Weight">
            </div>
          </div>
          <div class="row g-2">
            <div class="col mb-3">
              <label for="editcat" class="form-label">Category</label>
              <input type="text" id="editcat" class="form-control w-100" placeholder="Insert Category">
            </div>
            <div class="col mb-3">
              <label for="editmod" class="form-label">Model</label>
              <input type="text" id="editmod" class="form-control w-100" placeholder="Insert Model">
            </div>
          </div>
          <div class="row g-2">
            <div class="col mb-3">
              <label for="editsellStartDate" class="form-label">Sell Start Date</label>
              <input type="date" id="editsellStartDate" class="form-control w-100" placeholder="Insert Sell Start Date">
            </div>
            <div class="col mb-3">
              <label for="editsellEndDate" class="form-label">Sell End Date</label>
              <input type="date" id="editsellEndDate" class="form-control w-100" placeholder="Insert Sell End Date">
            </div>
          </div>
          <div class="row g-2">
            <div class="col-12 col-md-6 mb-3">
              <label for="editdiscontinuedDate" class="form-label">Discontinued Date</label>
              <input type="date" id="editdiscontinuedDate" class="form-control w-100"
                placeholder="Insert Discontinued Date">
            </div>
            <div class="col-12 col-md-6 mb-3">
              <label for="editthumbnailPhotoFileName" class="form-label">Thumbnail Filename</label>
              <input type="text" id="editthumbnailPhotoFileName" class="form-control w-100"
                placeholder="Insert Thumbnail Filename">
            </div>
          </div>
          <div class="row g-2">
            <div class="col">
              <label for="thumbnailPhoto" class="form-label">Thumbnail Photo</label>
              <input type="file" id="thumbnailPhoto" class="form-control w-100 mb-3" placeholder="Insert Thumbnail Photo"
                (change)="onFileSelected($event)" accept="image/*">

              <!-- Optional: Display Base64 string (read-only) -->
              <input type="text" class="form-control w-100 mt-2" placeholder="Base64 String" 
              name="ThumbnailPhoto"
              [(ngModel)]="newProduct.thumbNailPhoto" readonly>

              <!-- Preview Image -->
              <img 
                [src]="'data:image/gif;base64,' + newProduct.thumbNailPhoto" 
                alt="{{newProduct.name}} thumbnail"
                class="img-thumbnail" id="img-thumbnail" loading="lazy" />
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Chiudi</button>
        <button type="button" class="btn btn-success" (click)="editConfirm()">Salva</button>
      </div>
    </div>
  </div>
</div>

<!-- modale per eliminare prodotto -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true"
  #deleteModal>
  <div class="modal-dialog modal-dialog-centered
    d-flex justify-content-center" role="document">
    <div class="modal-content w-75 bg-dark text-light">
      <div class="modal-header">
        <h5 class="modal-title" id="ModalLabel">Elimina Prodotto</h5>
        <button type="button" class="btn-close bg-x" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Vuoi eliminare questo prodotto ?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Chiudi</button>
        <button type="button" class="btn btn-danger" (click)="deleteProduct()" data-bs-dismiss="modal">Elimina</button>
      </div>
    </div>
  </div>
</div>

<!-- modale per aggiungere prodotto -->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true"
  #addModal>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content bg-dark text-light">
      <div class="modal-header">
        <h5 class="modal-title" id="ModalLabel">Aggiungi Prodotto</h5>
        <button type="button" class="btn-close bg-x" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form #addProductForm="ngForm">
          <div class="row g-2">
            <div class="mb-3">
              <label for="name" class="form-label">Name</label>
              <input type="text" id="nameAdd" class="form-control w-100" placeholder="Insert Name" name="Name" required
                [(ngModel)]="newProduct.name">
            </div>
          </div>
          <div class="row g-2">
            <div class="col mb-3">
              <label for="productNumber" class="form-label">Product Number</label>
              <input type="text" id="productNumber" class="form-control w-100" placeholder="Insert Product Number"
                name="ProductNumber" required [(ngModel)]="newProduct.productNumber">
            </div>
            <div class="col mb-3">
              <label for="color" class="form-label">Color</label>
              <input type="text" id="colorAdd" class="form-control w-100" placeholder="Insert Color" name="Color"
                [(ngModel)]="newProduct.color">
            </div>
          </div>
          <div class="row g-2">
            <div class="col mb-3">
              <label for="cost" class="form-label">StandardCost</label>
              <input type="number" id="costAdd" class="form-control w-100" placeholder="Insert Standard Cost"
                name="StandardCost" [(ngModel)]="newProduct.standardCost">
            </div>
            <div class="col mb-3">
              <label for="listPrice" class="form-label">ListPrice</label>
              <input type="number" id="listPrice" class="form-control w-100" placeholder="Insert List Price"
                name="ListPrice" [(ngModel)]="newProduct.listPrice">
            </div>
          </div>
          <div class="row g-2">
            <div class="col mb-3">
              <label for="size" class="form-label">Size</label>
              <input type="text" id="size" class="form-control w-100" placeholder="Insert Size" name="Size"
                [(ngModel)]="newProduct.size">
            </div>
            <div class="col mb-3">
              <label for="weight" class="form-label">Weight</label>
              <input type="number" id="weight" class="form-control w-100" placeholder="Insert Weight" name="Weight"
                [(ngModel)]="newProduct.weight">
            </div>
          </div>
          <div class="row g-2">
            <div class="col mb-3">
              <label for="catId" class="form-label">Category</label>
              <input type="text" id="catId" class="form-control w-100" placeholder="Insert Category"
                name="ProductCategoryId" required [(ngModel)]="newProduct.productCategoryId">
            </div>
            <div class="col mb-3">
              <label for="modId" class="form-label">Model</label>
              <input type="text" id="modId" class="form-control w-100" placeholder="Insert Model" name="ProductModelId"
                required [(ngModel)]="newProduct.productModelId">
            </div>
          </div>
          <div class="row g-2">
            <div class="col mb-3">
              <label for="sellStartDate" class="form-label">Sell Start Date</label>
              <input type="date" id="sellStartDate" class="form-control w-100" placeholder="Insert Sell Start Date"
                name="SellStartDate" required [(ngModel)]="newProduct.sellStartDate">
            </div>
            <div class="col mb-3">
              <label for="sellEndDate" class="form-label">Sell End Date</label>
              <input type="date" id="sellEndDate" class="form-control w-100" placeholder="Insert Sell End Date"
                name="SellEndDate" [(ngModel)]="newProduct.sellEndDate">
            </div>
          </div>
          <div class="row g-2">
            <div class="col mb-3">
              <label for="discontinuedDate" class="form-label">Discontinued Date</label>
              <input type="date" id="discontinuedDate" class="form-control w-100" placeholder="Insert Discontinued Date"
                name="DiscontinuedDate" [(ngModel)]="newProduct.discontinueDate">
            </div>
          </div>
          <div class="row g-2">
            <div class="col mb-3">
              <!-- Input di tipo file -->
              <label for="thumbnailPhoto" class="form-label">Thumbnail Photo</label>
              <input #thumbnailPhoto
               type="file" id="thumbnailPhoto"
               class="form-control w-100" 
               (change)="onFileSelected($event)"
               accept="image/*" >
               <!-- Immagine di preview -->
              <img *ngIf="newProduct.thumbNailPhoto;"
                [src]="'data:image/gif;base64,' + newProduct.thumbNailPhoto" alt="{{newProduct.name}} thumbnail"
                class="img-fluid img-thumbnail" loading="lazy" />
              <!-- Mostro un immagine placeholder se l'utente non seleziona un file -->
              <img *ngIf="!newProduct.thumbNailPhoto" class="img-thumbnail" src="assets/img-placeholder.jpg" alt="#">
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Chiudi</button>
        <button type="button" class="btn btn-primary" (click)="addProduct()"
          data-bs-dismiss="modal">Aggiungi </button>
      </div>
    </div>
  </div>
</div>

<!-- Modale sessione scaduta -->
<app-session-modal></app-session-modal>