  .main-table {
    max-width: 90%;
    border-collapse: collapse;
  }

  .main-table th, .main-table td,
  .main-table tr {
    text-align: center;
    color: white;
    background-color: #1f1e1e; 
  }
  
  th {
    font-weight: bold;
  }

  td{
    vertical-align: middle;
  }

  .iconbutton {
    width: 50px;
    margin-left: 2px;
    margin-right: 2px;
  }

  .addbutton {
    position: fixed;
    bottom: 15px;
    right : 15px;
    height: 50px;
    width: 50px;
  }

  .bg-x{
    background-color: #00ff00 ;
  }


  .img-thumbnail{
    margin-top: 10px;
    width: 150px;
    height: auto;
    padding: 0;
  }
  /*# Media Query */
  /* Media query per breakpoint md (768px) */
  @media (min-width: 768px) {
    .modal-content{
      width: 100%;
    }
  }