<div class="container">
    <br>
    <h2 class = "text-center">ADMIN PRODUCTS PANEL</h2>
    <br>

<!--? bottone per aggiungere un prodotto ?-->

    <button type = "button" class = "btn btn-success addbutton" data-bs-toggle = "modal" data-bs-target = "#addModal">
      <i class = "fa-solid fa-plus"></i>
    </button>+

<!--? navigazione superiore ?-->

    <nav class = "text-center">
      <ul class="pagination justify-content-start text-white" style="margin: 20px;">
        <li class="page-item" [class.disabled]="currentPage === 1">
          <button class="page-link" (click)="changePage(currentPage - 1)">&laquo;</button>
        </li>
        <li *ngFor="let page of [].constructor(totalPages); let i = index" class="page-item"
          [class.active]="currentPage === i + 1">
          <button class="page-link" (click)="changePage(i + 1)">{{ i + 1 }}</button>
        </li>
        <li class="page-item" [class.disabled]="currentPage === totalPages">
          <button class="page-link" (click)="changePage(currentPage + 1)">&raquo;</button>
        </li>
      </ul>
    </nav>

<!--? tabella dei prodotti ?-->

    <table class="table table-bordered table-striped main-table">
      <thead>
        <tr>
          <th scope="col" id = "id">Id</th>
          <th scope="col" id = "name">Name</th>
          <th scope="col" id = "pnumber">ProdNumber</th>
          <th scope="col" id = "color">Color</th>
          <th scope="col" id = "cost">Cost</th>
          <th scope="col" id = "price">ListPrice</th>
          <th scope="col" id = "secondary">Size</th>
          <th scope="col" id = "secondary">Weight</th>
          <th scope="col" id = "secondary">CategoryId</th>
          <th scope="col" id = "secondary">ModelId</th>
          <th scope="col" id = "icons"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of paginatedProducts">
          <td id = "id">{{ product.productId }}</td>
          <td id = "name">{{ product.name }}</td>
          <td id = "pnumber">{{ product.productNumber }}</td>
          <td id = "color">{{ product.color }}</td>
          <td id = "cost">{{ product.standardCost }}</td>
          <td id = "price">{{ product.listPrice }}</td>
          <td id = "secondary">{{ product.size }}</td>
          <td id = "secondary">{{ product.weight }}</td>
          <td id = "secondary">{{ product.productCategoryId }}</td>
          <td id = "secondary">{{ product.productModelId }}</td>
          <td id = "icons">
            <button type = "button" class = "btn btn-primary iconbutton" (click)="viewProduct(product)">
              <i class = "fa-solid fa-eye"></i>
            </button>
            <button type = "button" class = "btn btn-warning iconbutton" data-bs-toggle = "modal" data-bs-target = "#editModal" (click)="editProduct(product)">
              <i class = "fa-solid fa-edit"></i>
            </button>
            <button type = "button" class = "btn btn-danger iconbutton" data-bs-toggle = "modal" data-bs-target = "#deleteModal" (click)="setProductToDelete(product.productId)">
              <i class = "fa-solid fa-trash"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <br>

<!--? navigazione inferiore ?-->

    <nav>
      <ul class="pagination justify-content-center">
        <li class="page-item" [class.disabled]="currentPage === 1">
          <button class="page-link" (click)="changePage(currentPage - 1)">&laquo;</button>
        </li>
        <li *ngFor="let page of [].constructor(totalPages); let i = index" class="page-item"
          [class.active]="currentPage === i + 1">
          <button class="page-link" (click)="changePage(i + 1)">{{ i + 1 }}</button>
        </li>
        <li class="page-item" [class.disabled]="currentPage === totalPages">
          <button class="page-link" (click)="changePage(currentPage + 1)">&raquo;</button>
        </li>
      </ul>
    </nav>
  </div>

<!--? modale per visualizzare prodotto ?-->

  <div class="modal fade" id="viewModal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true" #viewModal>
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="ModalLabel">Prodotto</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p id  = "productData"></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Chiudi</button>
        </div>
      </div>
    </div>
  </div>

<!--? modale per modificare prodotto ?-->

  <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true" #editModal>
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="ModalLabel">Modifica Prodotto</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form id = "editForm">
            <div class="row g-2">
              <div class="mb-3">
                <label for="editname" class="form-label">Name</label>
                <input type="text" id="editname" class="form-control w-100" placeholder="Insert Name">
              </div>
            </div>
            <div class="row g-2">
              <div class="col mb-3">
                <label for="editproductNumber" class="form-label">Product Number</label>
                <input type="text" id="editproductNumber" class="form-control w-100" placeholder="Insert Product Number">
              </div>
              <div class="col mb-3">
                <label for="editcolor" class="form-label">Color</label>
                <input type="text" id="editcolor" class="form-control w-100" placeholder="Insert Color">
              </div>
            </div>
            <div class="row g-2">
              <div class="col mb-3">
                <label for="editcost" class="form-label">StandardCost</label>
                <input type="number" id="editcost" class="form-control w-100" placeholder="Insert Standard Cost">
              </div>
              <div class="col mb-3">
                <label for="editlistPrice" class="form-label">ListPrice</label>
                <input type="number" id="editlistPrice" class="form-control w-100" placeholder="Insert List Price">
              </div>
            </div>
            <div class="row g-2">
              <div class="col mb-3">
                <label for="editsize" class="form-label">Size</label>
                <input type="text" id="editsize" class="form-control w-100" placeholder="Insert Size">
              </div>
              <div class="col mb-3">
                <label for="editweight" class="form-label">Weight</label>
                <input type="number" id="editweight" class="form-control w-100" placeholder="Insert Weight">
              </div>
            </div>
            <div class="row g-2">
              <div class="col mb-3">
                <label for="editcat" class="form-label">Category</label>
                <input type="text" id="editcat" class="form-control w-100" placeholder="Insert Category">
              </div>
              <div class="col mb-3">
                <label for="editmod" class="form-label">Model</label>
                <input type="text" id="editmod" class="form-control w-100" placeholder="Insert Model">
              </div>
            </div>
            <div class="row g-2">
              <div class="col mb-3">
                <label for="editsellStartDate" class="form-label">Sell Start Date</label>
                <input type="date" id="editsellStartDate" class="form-control w-100" placeholder="Insert Sell Start Date">
              </div>
              <div class="col mb-3">
                <label for="editsellEndDate" class="form-label">Sell End Date</label>
                <input type="date" id="editsellEndDate" class="form-control w-100" placeholder="Insert Sell End Date">
              </div>
            </div>
            <div class="row g-2">
              <div class="col mb-3">
                <label for="editdiscontinuedDate" class="form-label">Discontinued Date</label>
                <input type="date" id="editdiscontinuedDate" class="form-control w-100" placeholder="Insert Discontinued Date">
              </div>
              <div class="col mb-3">
                <label for="editthumbnailPhotoFileName" class="form-label">Thumbnail Filename</label>
                <input type="text" id="editthumbnailPhotoFileName" class="form-control w-100" placeholder="Insert Thumbnail Filename">
              </div>
            </div>
            <div class="row g-2">
              <div class="col mb-3">
                <label for="thumbnailPhoto" class="form-label">Thumbnail Photo</label>
                <input type="file" id="thumbnailPhoto" class="form-control w-100" placeholder="Insert Thumbnail Photo">
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Chiudi</button>
          <button type="button" class="btn btn-primary" >Salva</button>
        </div>
      </div>
    </div>
  </div>

<!--? modale per eliminare prodotto ?-->

  <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true" #deleteModal>
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="ModalLabel">Elimina Prodotto</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>Vuoi eliminare questo prodotto ?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Chiudi</button>
          <button type="button" class="btn btn-danger" id="confirmDeleteButton" (click)="deleteProduct()" data-bs-dismiss="modal">Elimina</button>
        </div>
      </div>
    </div>
  </div>

<!--? modale per aggiungere prodotto ?-->

  <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true" #addModal>
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="ModalLabel">Aggiungi Prodotto</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form #addProductForm="ngForm">
            <div class="row g-2">
              <div class="mb-3">
                <label for="name" class="form-label">Name</label>
                <input type="text" id="name" class="form-control w-100" placeholder="Insert Name" 
                name="Name" required [(ngModel)]="newProduct.name" >
              </div>
            </div>
            <div class="row g-2">
              <div class="col mb-3">
                <label for="productNumber" class="form-label">Product Number</label>
                <input type="text" id="productNumber" class="form-control w-100" placeholder="Insert Product Number"   name="ProductNumber" required [(ngModel)]="newProduct.productNumber">
              </div>
              <div class="col mb-3">
                <label for="color" class="form-label">Color</label>
                <input type="text" id="color" class="form-control w-100" placeholder="Insert Color" name="Color"  [(ngModel)]="newProduct.color">
              </div>
            </div>
            <div class="row g-2">
              <div class="col mb-3">
                <label for="cost" class="form-label">StandardCost</label>
                <input type="number" id="cost" class="form-control w-100" placeholder="Insert Standard Cost" name="StandardCost" [(ngModel)] = "newProduct.standardCost">
              </div>
              <div class="col mb-3">
                <label for="listPrice" class="form-label">ListPrice</label>
                <input type="number" id="listPrice" class="form-control w-100" placeholder="Insert List Price" name="ListPrice" [(ngModel)]="newProduct.listPrice" >
              </div>
            </div>
            <div class="row g-2">
              <div class="col mb-3">
                <label for="size" class="form-label">Size</label>
                <input type="text" id="size" class="form-control w-100" placeholder="Insert Size" name="Size"  [(ngModel)]="newProduct.size">
              </div>
              <div class="col mb-3">
                <label for="weight" class="form-label">Weight</label>
                <input type="number" id="weight" class="form-control w-100" placeholder="Insert Weight" name="Weight"  [(ngModel)]="newProduct.weight">
              </div>
            </div>
            <div class="row g-2">
              <div class="col mb-3">
                <label for="catId" class="form-label">Category</label>
                <input type="text" id="catId" class="form-control w-100" placeholder="Insert Category" name="ProductCategoryId" required [(ngModel)]="newProduct.productCategoryId">
              </div>
              <div class="col mb-3">
                <label for="modId" class="form-label">Model</label>
                <input type="text" id="modId" class="form-control w-100" placeholder="Insert Model" name="ProductModelId" required [(ngModel)]="newProduct.productModelId">
              </div>
            </div>
            <div class="row g-2">
              <div class="col mb-3">
                <label for="sellStartDate" class="form-label">Sell Start Date</label>
                <input type="date" id="sellStartDate" class="form-control w-100" placeholder="Insert Sell Start Date" name="SellStartDate" required [(ngModel)]="newProduct.sellStartDate">
              </div>
              <div class="col mb-3">
                <label for="sellEndDate" class="form-label">Sell End Date</label>
                <input type="date" id="sellEndDate" class="form-control w-100" placeholder="Insert Sell End Date" name="SellEndDate"  [(ngModel)]="newProduct.sellEndDate">
              </div>
            </div>
            <div class="row g-2">
              <div class="col mb-3">
                <label for="discontinuedDate" class="form-label">Discontinued Date</label>
                <input type="date" id="discontinuedDate" class="form-control w-100" placeholder="Insert Discontinued Date" name="DiscontinuedDate"  [(ngModel)]="newProduct.discontinueDate">
              </div>
              <div class="col mb-3">
                <label for="thumbnailPhotoFileName" class="form-label">Thumbnail Filename</label>
                <input type="text" id="thumbnailPhotoFileName" class="form-control w-100" placeholder="Insert Thumbnail Filename" name="ThumbnailPhotoFileName"  [(ngModel)]="newProduct.thumbnailPhotoFileName">
              </div>
            </div>
            <div class="row g-2">
              <div class="col mb-3">
                <label for="thumbnailPhoto" class="form-label">Thumbnail Photo</label>
                <input type="file" id="thumbnailPhoto" class="form-control w-100" (change)="onFileSelected($event)" accept="image/*">
                <input type="text" class="form-control w-100 mt-2" placeholder="Base64 String" name="ThumbnailPhoto" [(ngModel)]="newProduct.thumbNailPhoto" readonly>
                
                <img *ngIf="newProduct.thumbNailPhoto; else noImage" 
                     [src]="'data:image/gif;base64,' + newProduct.thumbNailPhoto" 
                     alt="{{newProduct.name}} thumbnail" 
                     class="img-fluid img-thumbnail" loading="lazy" />
                <ng-template #noImage>
                  <div class="alert alert-danger" role="alert">No image selected</div>
                </ng-template>
              </div>
            </div>
            

          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Chiudi</button>
          <button type="button" class="btn btn-primary" (click)="addProduct(addProductForm)" data-bs-dismiss="modal">Aggiungi </button>
        </div>
      </div>
    </div>
  </div>