#title {
  color: white;
}

.main-table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
  }

  .main-table th, .main-table td,
  .secondary-table th, .secondary-table td {
    padding: 4px;
    text-align: center;
    border: 1px solid #ccc;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #1f1e1e;
  }
  
  tr {
    height: 5px;
  }
  
  th {
    background-color: #1f1e1e;
    font-weight: bold;
  }
  

  #icons {
    width: 174px;
    text-align: center;
  }

  #id {
    width: 60px;
    color: white;
  }

  #name {
    width: 300px;
    color: white;
  }

  #pnumber {
    width: 150px;
    color: white;
  }

  #color {
    width: 60px;
    color: white;
  }

  #cost {
    width: 90px;
    color: white;
  }

  #price {
    width: 90px;
    color: white;
  }

  #secondary {
    width: 100px;
    color: white;
  }

  .iconbutton {
    width: 50px;
    margin-left: 2px;
    margin-right: 2px;
  }

  .addbutton {
    position: fixed;
    bottom: 15px;
    right : 15px;
    height: 50px;
    width: 50px;
  }

  /*? css della navigazione ?*/

  .pagination .page-link{
    color:white;
    background-color: black;
    border-color: #00ff00;
}
  
  .pagination .page-item.active .page-link {
    background-color: #00ff00; 
    border-color: #00ff00;     
    color: black;             
}
  
  .pagination .page-item.disabled .page-link {
    color: white;
    background-color: black;
    border-color: black;
  }

  .pagination .page-item .page-link:focus {
    outline: none;
    border-color: black;
    box-shadow: 0 0 5px 2px #00ff00;
  }

  .pagination .page-item .page-link:active {
    background-color: #00ff00;
    border-color: #00ff00;
    box-shadow: 0 0 5px 2px black;
  }

  .bg-x{
    background-color: #00ff00 ;
}